p {
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

html {
  font-size: 100%; }

body {
  font-family: "Raleway", sans-serif; }

span, p {
  font-size: 1.2rem; }

.home {
  font-family: "Raleway", sans-serif; }
  .home h1 {
    font-size: 2.7em;
    font-weight: 700; }
    @media (min-width: 768px) {
      .home h1 {
        font-size: 3.5rem; } }
    @media (min-width: 992px) {
      .home h1 {
        font-size: 4.5rem; } }
  .home h2 {
    font-size: 2rem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .home h2 {
        font-size: 2.4rem; } }
  .home p {
    font-size: 1em;
    line-height: 1.4; }
  .home .font-light {
    color: white; }

.app .h1, .app .h2, .app .h3, .app .h4, .app .h5, .app .h6, .app h1, .app h2, .app h3, .app h4, .app h5, .app h6 {
  margin: 0; }

.app .top-filter .top-filter-label {
  font-size: 1.2rem; }

.app .project-list .project-label {
  font-size: 1.2rem; }

.app .tag-list .tag-label {
  font-size: 1.2rem; }

.app .todo-list .todo-label {
  font-size: 1.15rem; }

/* Scss Document */
body {
  background: #ecf0f1; }

.app-content {
  min-height: 100vh;
  background: white; }

.modal-add-task {
  max-width: 550px; }
  .modal-add-task .invalid-tooltip {
    background-color: red;
    top: 30%;
    padding: 0.33rem;
    border-radius: 0 0 .5rem .5rem; }
  .modal-add-task .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0; }

#top-section {
  background: url("/img/background_002.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }
  #top-section p {
    font-size: 1.3em;
    text-align: center; }

.overlay-background {
  background: rgba(27, 27, 27, 0.9); }

@media (max-width: 1199.98px) {
  #section-icons {
    max-width: 100%; } }

#section-icons .row {
  height: 100%; }
  @media (min-width: 768px) {
    #section-icons .row {
      height: 300px; } }
  @media (min-width: 992px) {
    #section-icons .row {
      height: 33vh; } }

#section-icons .section-item {
  padding: 1em 1rem; }
  @media (min-width: 992px) {
    #section-icons .section-item {
      padding: 0 3rem; } }
  @media (min-width: 768px) {
    #section-icons .section-item {
      padding: 0 2rem; } }
  @media (min-width: 576px) {
    #section-icons .section-item {
      padding: 2rem 2rem; } }
  #section-icons .section-item p {
    font-size: 1rem; }
    @media (min-width: 576px) {
      #section-icons .section-item p {
        font-size: 1.2em; } }

#section-icons .row div:nth-child(odd) {
  background: white; }
  #section-icons .row div:nth-child(odd) p {
    text-align: justify; }

#section-icons .row div:nth-child(even) {
  background: #e74c3c;
  color: white; }
  #section-icons .row div:nth-child(even) .material-icons.md-dark {
    color: white !important; }
  #section-icons .row div:nth-child(even) p {
    text-align: justify; }

hr.row-gap {
  margin-top: 5rem;
  margin-bottom: 10rem;
  border: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.1); }

.quote-section h2 {
  text-align: center; }

.quote-section p {
  text-align: center; }

.quote-section img.img-portrait {
  max-height: 300px; }
  @media (max-width: 767.98px) {
    .quote-section img.img-portrait {
      max-height: 190px; } }

.quote-section:nth-child(3) {
  height: 100%; }
  @media (min-width: 576px) {
    .quote-section:nth-child(3) div.row {
      min-height: 180px; } }
  @media (min-width: 768px) {
    .quote-section:nth-child(3) {
      height: 38vh;
      min-height: 200px; } }

.quote-section:nth-child(2) {
  background-color: #E74C3C;
  height: 12vh;
  min-height: 110px; }
  @media (min-width: 576px) {
    .quote-section:nth-child(2) {
      min-height: 110px; } }
  @media (min-width: 768px) {
    .quote-section:nth-child(2) {
      height: 15vh;
      min-height: 130px; } }

.quote-section:nth-child(1) {
  height: 100%; }
  @media (min-width: 576px) {
    .quote-section:nth-child(1) {
      min-height: 200px; } }
  @media (min-width: 768px) {
    .quote-section:nth-child(1) {
      height: 38vh;
      min-height: 300px; } }

.quote-overlay {
  background: url("/img/background_001.jpg") no-repeat center center fixed;
  background-size: cover; }

.home .navbar {
  transition: background 0.3s linear; }
  .home .navbar .navbar-brand {
    color: white;
    font-size: 1.8rem;
    font-weight: 700; }
    @media (min-width: 576px) {
      .home .navbar .navbar-brand {
        font-size: 2.2rem; } }
    @media (min-width: 992px) {
      .home .navbar .navbar-brand {
        font-size: 2.5rem;
        margin-left: 0.5rem; } }

.home .navbar-change {
  background: white;
  color: black; }
  .home .navbar-change .navbar-brand {
    color: black; }
  .home .navbar-change .hamburger-icon {
    color: rgba(0, 0, 0, 0.76); }

.app-navbar {
  background: #e74c3c; }
  .app-navbar .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .app-navbar .navbar-brand {
    color: white;
    margin-left: 5rem;
    font-size: 1.8rem;
    font-weight: 700; }

.list-group-item {
  padding: 0.75rem 0.5rem; }

.project-title-box, .tag-title-box {
  margin: 1rem 0.25rem 0.25rem 0.5rem; }

.projects .project-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.tags .tag-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

ul.top-filter-list li.top-filter-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

ul.project-list li.project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  ul.project-list li.project-item .project-left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  ul.project-list li.project-item .draggable-action {
    padding: 0 0rem 0 0; }
    ul.project-list li.project-item .draggable-action .drag-icon {
      font-size: 1.5rem;
      padding: 0.5rem 0rem; }

ul.tag-list li.tag-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  ul.tag-list li.tag-item .tags-left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  ul.tag-list li.tag-item .label-icon {
    color: #636e72; }

.shadow {
  background: #ecf0f1 !important; }

.label-icon, .inbox-icon {
  font-size: 1.5rem;
  margin: 0 .5rem 0rem 0; }

.content {
  margin-top: 1rem; }

.todo-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }
  .todo-title-wrapper .todo-title {
    font-size: 2.5rem;
    margin-left: 2rem; }
  .todo-title-wrapper .top-right-controls {
    margin-right: 1rem; }
  .todo-title-wrapper .top-right-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }

.todo-list {
  align-content: flex-end; }
  .todo-list .todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem; }
    .todo-list .todo-item:last-child {
      border-bottom: #e0e0e0 solid 0.05rem; }
  .todo-list .todo-left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 470px;
    position: relative;
    white-space: normal; }
  .todo-list .todo-left, .todo-list .todo-task, .todo-list .todo-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }

.todo-left .draggable-action {
  padding: 0 0rem 0 0; }

.todo-left .complete-action {
  padding: 0 0.25rem 0 0.5rem; }

.todo-left .todo-label {
  line-height: 1.5; }

.action-add-bar .action-add-item {
  margin-top: .5rem;
  margin-left: 2rem;
  font-size: 1.25rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.action-add-bar .action-add-icon {
  margin-right: 0.5rem; }

.tag-filter .action-add-item {
  display: none; }

#addTaskInline .addTaskInline-btn-box {
  margin-right: 15px; }

.home .material-icons.mi-home {
  font-size: 4rem;
  padding: 1.2rem 1rem; }
  @media (min-width: 576px) {
    .home .material-icons.mi-home {
      padding: 0rem 1rem 0 0;
      font-size: 5rem; } }
  @media (max-width: 575.98px) {
    .home .material-icons.mi-home {
      padding: 0rem 1rem 0 0; } }

.home .mi-quote {
  font-size: 3rem;
  padding-right: 1rem; }

.home .material-icons.md-dark {
  color: rgba(0, 0, 0, 0.76); }

.home .material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.home .navbar .btn {
  margin: 0.4rem 0.6rem; }
  @media (min-width: 768px) {
    .home .navbar .btn {
      margin: 1rem 0.8rem; } }

.home .button-success {
  background: #e74c3c; }

.home .btn-navbar {
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem; }

.home .btn-form {
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem; }

.home .btn-signup {
  background: #e74c3c;
  color: white;
  border-color: #e74c3c; }
  .home .btn-signup:hover {
    color: white;
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .home .btn-signup:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #d62c1a;
    border-color: #ca2a19; }
  .home .btn-signup:focus {
    box-shadow: 0 0 0 3px rgba(214, 44, 26, 0.25);
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .home .btn-signup:not(:disabled):not(.disabled).active:focus, .home .btn-signup:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(202, 42, 25, 0.5); }

.home .btn-login {
  background: #4CAF50;
  color: white;
  border-color: #4CAF50; }
  .home .btn-login:hover {
    color: white;
    background-color: #409444;
    border-color: #3d8b40; }
  .home .btn-login:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #3d8b40;
    border-color: #39833c; }
  .home .btn-login:focus {
    box-shadow: 0 0 0 3px rgba(61, 139, 64, 0.25);
    background-color: #409444;
    border-color: #3d8b40; }
  .home .btn-login:not(:disabled):not(.disabled).active:focus, .home .btn-login:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(57, 131, 60, 0.5); }

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.app-navbar .btn-add-task {
  background: #34495e;
  color: white;
  border-color: #34495e; }
  .app-navbar .btn-add-task:hover {
    color: white;
    background-color: #263645;
    border-color: #22303d; }
  .app-navbar .btn-add-task:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #22303d;
    border-color: #1d2935; }
  .app-navbar .btn-add-task:focus {
    box-shadow: 0 0 0 3px rgba(34, 48, 61, 0.25);
    background-color: #263645;
    border-color: #22303d; }
  .app-navbar .btn-add-task:not(:disabled):not(.disabled).active:focus, .app-navbar .btn-add-task:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(29, 41, 53, 0.5); }

.app-navbar .btn-logout {
  background: #636e72;
  color: white;
  border-color: #636e72; }
  .app-navbar .btn-logout:hover {
    color: white;
    background-color: #515a5e;
    border-color: #4b5457; }
  .app-navbar .btn-logout:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #4b5457;
    border-color: #454d50; }
  .app-navbar .btn-logout:focus {
    box-shadow: 0 0 0 3px rgba(75, 84, 87, 0.25);
    background-color: #515a5e;
    border-color: #4b5457; }
  .app-navbar .btn-logout:not(:disabled):not(.disabled).active:focus, .app-navbar .btn-logout:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(69, 77, 80, 0.5); }

.addTask-btn-box .btn-addTask {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background: #4CAF50;
  color: white;
  border-color: #4CAF50; }
  .addTask-btn-box .btn-addTask:hover {
    color: white;
    background-color: #409444;
    border-color: #3d8b40; }
  .addTask-btn-box .btn-addTask:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #3d8b40;
    border-color: #39833c; }
  .addTask-btn-box .btn-addTask:focus {
    box-shadow: 0 0 0 3px rgba(61, 139, 64, 0.25);
    background-color: #409444;
    border-color: #3d8b40; }
  .addTask-btn-box .btn-addTask:not(:disabled):not(.disabled).active:focus, .addTask-btn-box .btn-addTask:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(57, 131, 60, 0.5); }

.addTask-btn-box .btn-addTask-close {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background: grey;
  color: white;
  border-color: grey; }
  .addTask-btn-box .btn-addTask-close:hover {
    color: white;
    background-color: #6d6d6d;
    border-color: #676767; }
  .addTask-btn-box .btn-addTask-close:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #676767;
    border-color: #606060; }
  .addTask-btn-box .btn-addTask-close:focus {
    box-shadow: 0 0 0 3px rgba(103, 103, 103, 0.25);
    background-color: #6d6d6d;
    border-color: #676767; }
  .addTask-btn-box .btn-addTask-close:not(:disabled):not(.disabled).active:focus, .addTask-btn-box .btn-addTask-close:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(96, 96, 96, 0.5); }

.todo-item.priority-1 .btn-complete {
  background: transparent;
  color: #F44336;
  border-color: transparent; }
  .todo-item.priority-1 .btn-complete:hover {
    color: #F44336;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-1 .btn-complete:not(:disabled):not(.disabled):active {
    color: #F44336;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-1 .btn-complete:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-1 .btn-complete:not(:disabled):not(.disabled).active:focus, .todo-item.priority-1 .btn-complete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }

.todo-item.priority-2 .btn-complete {
  background: transparent;
  color: #FF9800;
  border-color: transparent; }
  .todo-item.priority-2 .btn-complete:hover {
    color: #FF9800;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-2 .btn-complete:not(:disabled):not(.disabled):active {
    color: #FF9800;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-2 .btn-complete:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-2 .btn-complete:not(:disabled):not(.disabled).active:focus, .todo-item.priority-2 .btn-complete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }

.todo-item.priority-3 .btn-complete {
  background: transparent;
  color: #FFEB3B;
  border-color: transparent; }
  .todo-item.priority-3 .btn-complete:hover {
    color: #FFEB3B;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-3 .btn-complete:not(:disabled):not(.disabled):active {
    color: #FFEB3B;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-3 .btn-complete:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-3 .btn-complete:not(:disabled):not(.disabled).active:focus, .todo-item.priority-3 .btn-complete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }

.todo-item.priority-4 .btn-complete {
  background: transparent;
  color: #9E9E9E;
  border-color: transparent; }
  .todo-item.priority-4 .btn-complete:hover {
    color: #9E9E9E;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-4 .btn-complete:not(:disabled):not(.disabled):active {
    color: #9E9E9E;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-4 .btn-complete:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  .todo-item.priority-4 .btn-complete:not(:disabled):not(.disabled).active:focus, .todo-item.priority-4 .btn-complete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }

.todo-item .btn-complete {
  padding: 0rem 0rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1rem; }
  .todo-item .btn-complete:hover {
    background: transparent;
    color: #27ae60;
    border-color: transparent; }
    .todo-item .btn-complete:hover:hover {
      color: #27ae60;
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0); }
    .todo-item .btn-complete:hover:not(:disabled):not(.disabled):active {
      color: #27ae60;
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0); }
    .todo-item .btn-complete:hover:focus {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0); }
    .todo-item .btn-complete:hover:not(:disabled):not(.disabled).active:focus, .todo-item .btn-complete:hover:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }

.todo-item .drag-icon, .todo-item .complete-icon {
  font-size: 1.5rem; }

.todo-item .drag-icon {
  padding: 0.5rem 0rem; }

.top-right-controls .btn-todo-edit {
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background: #7f8c8d;
  color: white;
  border-color: #7f8c8d;
  margin-left: 1rem; }
  .top-right-controls .btn-todo-edit:hover {
    color: white;
    background-color: #6c797a;
    border-color: #667273; }
  .top-right-controls .btn-todo-edit:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #667273;
    border-color: #606b6c; }
  .top-right-controls .btn-todo-edit:focus {
    box-shadow: 0 0 0 3px rgba(102, 114, 115, 0.25);
    background-color: #6c797a;
    border-color: #667273; }
  .top-right-controls .btn-todo-edit:not(:disabled):not(.disabled).active:focus, .top-right-controls .btn-todo-edit:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(96, 107, 108, 0.5); }
  .top-right-controls .btn-todo-edit .edit-icon {
    font-size: 1.5rem; }

.top-right-controls .btn-todo-sort {
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background: #7f8c8d;
  color: white;
  border-color: #7f8c8d;
  margin-left: 1rem; }
  .top-right-controls .btn-todo-sort:hover {
    color: white;
    background-color: #6c797a;
    border-color: #667273; }
  .top-right-controls .btn-todo-sort:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #667273;
    border-color: #606b6c; }
  .top-right-controls .btn-todo-sort:focus {
    box-shadow: 0 0 0 3px rgba(102, 114, 115, 0.25);
    background-color: #6c797a;
    border-color: #667273; }
  .top-right-controls .btn-todo-sort:not(:disabled):not(.disabled).active:focus, .top-right-controls .btn-todo-sort:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(96, 107, 108, 0.5); }
  .top-right-controls .btn-todo-sort .sort-icon {
    font-size: 1.5rem; }

.todo-controls {
  display: flex;
  flex-direction: row;
  align-content: center; }
  .todo-controls .btn {
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin: 0 0.3rem; }
  .todo-controls .priority-icon, .todo-controls .schedule-icon, .todo-controls .delete-icon {
    font-size: 1.5rem;
    color: white; }
  .todo-controls .btn-task-priority {
    background: #FF9800;
    color: white;
    border-color: #FF9800; }
    .todo-controls .btn-task-priority:hover {
      color: white;
      background-color: #d98100;
      border-color: #cc7a00; }
    .todo-controls .btn-task-priority:not(:disabled):not(.disabled):active {
      color: white;
      background-color: #cc7a00;
      border-color: #bf7200; }
    .todo-controls .btn-task-priority:focus {
      box-shadow: 0 0 0 3px rgba(204, 122, 0, 0.25);
      background-color: #d98100;
      border-color: #cc7a00; }
    .todo-controls .btn-task-priority:not(:disabled):not(.disabled).active:focus, .todo-controls .btn-task-priority:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 3px rgba(191, 114, 0, 0.5); }
    .todo-controls .btn-task-priority:after {
      display: none; }
  .todo-controls .priority-dropdown a.priority-dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem; }
    .todo-controls .priority-dropdown a.priority-dropdown-item .priority-dropdown-icon {
      font-size: 1.2rem; }
  .todo-controls .priority-dropdown .btn-priority-1 {
    background: #F44336; }
  .todo-controls .priority-dropdown .btn-priority-2 {
    background: #FF9800; }
  .todo-controls .priority-dropdown .btn-priority-3 {
    background: #FFEB3B; }
  .todo-controls .priority-dropdown .btn-priority-4 {
    background: #9E9E9E; }
  .todo-controls .btn-task-schedule {
    background: #FFEB3B;
    color: white;
    border-color: #FFEB3B; }
    .todo-controls .btn-task-schedule:hover {
      color: white;
      background-color: #ffe715;
      border-color: #ffe608; }
    .todo-controls .btn-task-schedule:not(:disabled):not(.disabled):active {
      color: white;
      background-color: #ffe608;
      border-color: #fae100; }
    .todo-controls .btn-task-schedule:focus {
      box-shadow: 0 0 0 3px rgba(255, 230, 8, 0.25);
      background-color: #ffe715;
      border-color: #ffe608; }
    .todo-controls .btn-task-schedule:not(:disabled):not(.disabled).active:focus, .todo-controls .btn-task-schedule:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 3px rgba(250, 225, 0, 0.5); }
  .todo-controls .btn-task-delete {
    background: #F44336;
    color: white;
    border-color: #F44336; }
    .todo-controls .btn-task-delete:hover {
      color: white;
      background-color: #f22112;
      border-color: #ea1c0d; }
    .todo-controls .btn-task-delete:not(:disabled):not(.disabled):active {
      color: white;
      background-color: #ea1c0d;
      border-color: #de1b0c; }
    .todo-controls .btn-task-delete:focus {
      box-shadow: 0 0 0 3px rgba(234, 28, 13, 0.25);
      background-color: #f22112;
      border-color: #ea1c0d; }
    .todo-controls .btn-task-delete:not(:disabled):not(.disabled).active:focus, .todo-controls .btn-task-delete:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 3px rgba(222, 27, 12, 0.5); }

.addTaskInline-btn {
  background: #e74c3c; }

.projects .btn-project-add {
  background: #e74c3c;
  color: white;
  border-color: #e74c3c;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem; }
  .projects .btn-project-add:hover {
    color: white;
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .projects .btn-project-add:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #d62c1a;
    border-color: #ca2a19; }
  .projects .btn-project-add:focus {
    box-shadow: 0 0 0 3px rgba(214, 44, 26, 0.25);
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .projects .btn-project-add:not(:disabled):not(.disabled).active:focus, .projects .btn-project-add:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(202, 42, 25, 0.5); }
  .projects .btn-project-add .add-project-icon {
    font-size: 1.5rem; }

.projects .btn-project-delete {
  background: #F44336;
  color: white;
  border-color: #F44336;
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; }
  .projects .btn-project-delete:hover {
    color: white;
    background-color: #f22112;
    border-color: #ea1c0d; }
  .projects .btn-project-delete:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #ea1c0d;
    border-color: #de1b0c; }
  .projects .btn-project-delete:focus {
    box-shadow: 0 0 0 3px rgba(234, 28, 13, 0.25);
    background-color: #f22112;
    border-color: #ea1c0d; }
  .projects .btn-project-delete:not(:disabled):not(.disabled).active:focus, .projects .btn-project-delete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(222, 27, 12, 0.5); }
  .projects .btn-project-delete .delete-icon {
    font-size: 1.5rem; }

.projects .addProject-btn {
  background: #e74c3c;
  color: white;
  border-color: #e74c3c; }
  .projects .addProject-btn:hover {
    color: white;
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .projects .addProject-btn:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #d62c1a;
    border-color: #ca2a19; }
  .projects .addProject-btn:focus {
    box-shadow: 0 0 0 3px rgba(214, 44, 26, 0.25);
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .projects .addProject-btn:not(:disabled):not(.disabled).active:focus, .projects .addProject-btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(202, 42, 25, 0.5); }

.tags .btn-tag-add {
  background: #636e72;
  color: white;
  border-color: #636e72;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem; }
  .tags .btn-tag-add:hover {
    color: white;
    background-color: #515a5e;
    border-color: #4b5457; }
  .tags .btn-tag-add:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #4b5457;
    border-color: #454d50; }
  .tags .btn-tag-add:focus {
    box-shadow: 0 0 0 3px rgba(75, 84, 87, 0.25);
    background-color: #515a5e;
    border-color: #4b5457; }
  .tags .btn-tag-add:not(:disabled):not(.disabled).active:focus, .tags .btn-tag-add:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(69, 77, 80, 0.5); }
  .tags .btn-tag-add .add-tag-icon {
    font-size: 1.5rem; }

.tags .btn-tag-delete {
  background: #F44336;
  color: white;
  border-color: #F44336;
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; }
  .tags .btn-tag-delete:hover {
    color: white;
    background-color: #f22112;
    border-color: #ea1c0d; }
  .tags .btn-tag-delete:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #ea1c0d;
    border-color: #de1b0c; }
  .tags .btn-tag-delete:focus {
    box-shadow: 0 0 0 3px rgba(234, 28, 13, 0.25);
    background-color: #f22112;
    border-color: #ea1c0d; }
  .tags .btn-tag-delete:not(:disabled):not(.disabled).active:focus, .tags .btn-tag-delete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(222, 27, 12, 0.5); }
  .tags .btn-tag-delete .delete-icon {
    font-size: 1.5rem; }

.tags .addTag-btn {
  background: #636e72;
  color: white;
  border-color: #636e72; }
  .tags .addTag-btn:hover {
    color: white;
    background-color: #515a5e;
    border-color: #4b5457; }
  .tags .addTag-btn:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #4b5457;
    border-color: #454d50; }
  .tags .addTag-btn:focus {
    box-shadow: 0 0 0 3px rgba(75, 84, 87, 0.25);
    background-color: #515a5e;
    border-color: #4b5457; }
  .tags .addTag-btn:not(:disabled):not(.disabled).active:focus, .tags .addTag-btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 3px rgba(69, 77, 80, 0.5); }

/*# sourceMappingURL=main.css.map */
