// Global
$font-family:'Raleway', sans-serif;
$global-font-size:100%;

// Font weights
$light: 200;
$regular: 400;
$semi-bold: 600;
$bold:700;

// Base Font
$base-font-family: 'Raleway', sans-serif;;
$base-font-weight: $regular;
$base-font-size: 1em;
$base-line-height: 1.4;

// Headings
$header-font-weight: $bold;


html {
  font-size: $global-font-size; 
}

body {
  font-family: $font-family; 
}

p{
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1 {
  font-size: 2.7rem;
  font-weight: $header-font-weight; }

h2 {
  font-size: 2.4rem;
  font-weight: $header-font-weight; }
