//Shared controls
$btn-delete-color:white;
$btn-delete-background:#F44336;
$btn-delete-icon-size: 1.5rem;
$btn-delete-padding-x:0.25rem;
$btn-delete-padding-y:0.25rem;
$btn-delete-border-radius:.25rem;



//NAVBAR
$btn-nav-add-background: #616161;
$btn-nav-add-color: white;
$btn-nav-logout-background: #636e72;
$btn-nav-logout-color: white;

//PROJECT controls
$btn-project-add-color:white;
$btn-project-add-background: #e74c3c;
$btn-project-add-padding-x:0.5rem;
$btn-project-add-padding-y:0.5rem;
$btn-project-add-border-radius:2rem;
$btn-project-add-icon-size:1.5rem;

//TAG controls
$btn-tag-add-color:white;
$btn-tag-add-background:#636e72;
$btn-tag-add-padding-x:$btn-project-add-padding-x;
$btn-tag-add-padding-y:$btn-project-add-padding-y;
$btn-tag-add-border-radius:$btn-project-add-border-radius;
$btn-tag-add-icon-size:$btn-project-add-icon-size;
//delete
$btn-tag-delete-icon-size: 1rem;
$btn-tag-delete-padding-x:0.10rem;
$btn-tag-delete-padding-y:0.10rem;

//MODAL Controls
$btn-modal-add-background:#f44336;
$btn-modal-close-background:grey;
$btn-modal-color:white;
$btn-modal-fsize:1rem;
$btn-modal-padding-x:.5rem;
$btn-modal-padding-y:.25rem;
$btn-modal-border-radius:.25rem;


//TASK list Top controls
$btn-todo-top-padding-x:0.25rem;
$btn-todo-top-padding-y:0.25rem;
$btn-todo-top-border-radius:.25rem;
$btn-todo-top-gap:1rem;
//Edit button
$btn-todo-top-edit-color:white;
$btn-todo-top-edit-background:#7f8c8d;
$btn-todo-top-edit-icon-size: 1.5rem;
//Sort button
$btn-todo-top-sort-color:$btn-todo-top-edit-color;
$btn-todo-top-sort-background:#f1c40f;
$btn-todo-top-sort-icon-size: $btn-todo-top-edit-icon-size;

//task-list Left controls
$todo-left-controls-icon-size: 1.5rem;
$btn-task-complete-color:black;
$btn-task-complete-background:transparent;
$btn-task-complete-hover-color:#27ae60;
$btn-task-complete-hover-background:transparent;
//Color of priorities
$btn-pr-1-color:#F44336;
$btn-pr-2-color:#FF9800;
$btn-pr-3-color:#FDD835;
$btn-pr-4-color:#9E9E9E;
//Bottom inline
$btn-add-task-bottom-inline:#e74c3c;


//TODO Right controls
$todo-right-controls-icon-size: 1.5rem;
$todo-right-controls-color:white;
$btn-task-priority-background:#FF9800;
$btn-priority-1:$btn-pr-1-color;
$btn-priority-2:$btn-pr-2-color;
$btn-priority-3:$btn-pr-3-color;
$btn-priority-4:$btn-pr-4-color;

$btn-task-schedule-background:#FFEB3B;




@mixin btn-color(
  $background,$color, 
  $hover-background: darken($background, 7.5%), 
  $hover-border: darken($background, 10%), 
  $active-background: darken($background, 10%), 
  $active-border: darken($background, 12.5%) ){
    
  background: $background;
  color:$color;
  border-color: $background;
  &:hover {
      color: $color;
      background-color: $hover-background;
      border-color: $hover-border;
  }
  &:not(:disabled):not(.disabled):active {
      color: $color;
      background-color: $active-background;
      border-color: $active-border;
  }
  &:focus {
      box-shadow: 0 0 0 3px rgba($hover-border, .25);
      background-color: $hover-background;
      border-color: $hover-border;
  }
  &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus{
      box-shadow: 0 0 0 3px rgba($active-border, .5);
  }
}

@mixin btn-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
//Home page
.home{
  .navbar .btn{
    margin: 0.4rem 0.6rem;
    @include mq(md){
      margin:1rem 0.8rem;
    }
  }
  .button-success{
    background: #e74c3c;
  }
  
  .btn-navbar{
    @include btn-size(0.6rem, 1.5rem, 1.2rem, 1.5, .25rem);
  }
  .btn-form{
    @include btn-size(0.8rem, 2.5rem, 1.2rem, 1.5, .25rem)
  }
  .btn-signup{
    @include btn-color(#e74c3c,white);
  }
  .btn-login{
    @include btn-color(#4CAF50,white);
  }
}

//APP STYLES
.btn{
  @include d-flex(row,center,center);
}

//NAVBAR
.app-navbar{
  .btn-add-task{
    @include btn-color($btn-nav-add-background, $btn-nav-add-color);
    @include btn-size(1rem, 4rem, 1.2rem, 1.5, 0rem);
    margin: 0rem 0rem 0rem -1rem;
    height: 100%;
  }
  .btn-logout{
    @include btn-color($btn-nav-logout-background, $btn-nav-logout-color);
  }
}
//MODAL
.addTask-btn-box{
  .btn-addTask{
    @include btn-size($btn-modal-padding-y,$btn-modal-padding-x,$btn-modal-fsize,1.5,$btn-modal-border-radius);
    @include btn-color($btn-modal-add-background, $btn-modal-color);
  }  
  .btn-addTask-close{
    @include btn-size($btn-modal-padding-y,$btn-modal-padding-x,$btn-modal-fsize,1.5,$btn-modal-border-radius);
    @include btn-color($btn-modal-close-background, $btn-modal-color);
  }
}
//TODO Left controls
.todo-left{
  
}
.todo-item{
  &.priority-1 .btn-complete{
    @include btn-color($btn-task-complete-background, $btn-pr-1-color);
  }
  &.priority-2 .btn-complete{
    @include btn-color($btn-task-complete-background, $btn-pr-2-color);
  }
  &.priority-3 .btn-complete{
    @include btn-color($btn-task-complete-background, $btn-pr-3-color);
  }
  &.priority-4 .btn-complete{
    @include btn-color($btn-task-complete-background, $btn-pr-4-color);
  }
  .btn-complete{
    @include btn-size(0rem,0rem,1rem,1.5,1rem);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5)!important;
    &:hover{
      @include btn-color($btn-task-complete-hover-background, $btn-task-complete-hover-color);
      box-shadow: 0 0 0 0px rgba(white, .5)!important;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus{
      box-shadow: 0 0 0 0px rgba(white, .5)!important;
    }
  }
  .todo-item.priority-1 .btn-complete:not(:disabled):not(.disabled).active:focus, .todo-item.priority-1 .btn-complete:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5)!important;
  }
  .drag-icon,.complete-icon{
    font-size: $todo-left-controls-icon-size;
  }
  .drag-icon{
    padding: 0.5rem 0rem;
  }
}
//TASK list TOP Right controls
.top-right-controls{
  .btn-todo-edit{
    @include btn-size($btn-todo-top-padding-y,$btn-todo-top-padding-x,1rem,1.5,$btn-todo-top-border-radius);
    @include btn-color($btn-todo-top-edit-background, $btn-todo-top-edit-color);
    margin-left: $btn-todo-top-gap;
    .edit-icon{
      font-size: $btn-todo-top-edit-icon-size;
    }
  }
  .btn-todo-sort{
    @include btn-size($btn-todo-top-padding-y,$btn-todo-top-padding-x,1rem,1.5,$btn-todo-top-border-radius);
    @include btn-color($btn-todo-top-sort-background, $btn-todo-top-sort-color);
    margin-left: $btn-todo-top-gap;
    .sort-icon{
      font-size: $btn-todo-top-sort-icon-size;
    }
  }
}
//TASK List Right controls
.todo-controls {
  display: flex;
  flex-direction: row;
  align-content: center;

  .btn{
    @include btn-size(0.2rem,0.2rem,1rem,1.5,.25rem);
    margin: 0 0.3rem;
  }
  .priority-icon,.schedule-icon,.delete-icon{
    font-size: $todo-right-controls-icon-size;
    color: $todo-right-controls-color;
  }
  .btn-task-priority{
    @include btn-color($btn-task-priority-background, $todo-right-controls-color);
    
    &:after{
      display: none;
    }
  }
  .priority-dropdown{
    
    a.priority-dropdown-item{
      @include d-flex(row,center,center);
      color: white;
      font-size: 1rem;
      .priority-dropdown-icon{
        font-size: 1.2rem;
      }
      
    }
    .btn-priority-1{background: $btn-priority-1}
    .btn-priority-2{background: $btn-priority-2}
    .btn-priority-3{background: $btn-priority-3}
    .btn-priority-4{background: $btn-priority-4}
    
  }
  .btn-task-schedule {
    @include btn-color($btn-task-schedule-background, $todo-right-controls-color);
  }
  .btn-task-delete {
    @include btn-color($btn-delete-background, $btn-delete-color);
  }
}
//TASK LIST bottom inline
.addTaskInline-btn{
  background: $btn-add-task-bottom-inline;
}

//PROJECT controls
.projects{
  .btn-project-add{
    @include btn-color($btn-project-add-background, $btn-project-add-color);
    @include btn-size($btn-project-add-padding-x,$btn-project-add-padding-y,1rem,1.5,$btn-project-add-border-radius);
    .add-project-icon{
      font-size: $btn-project-add-icon-size;
    }
  }
  .btn-project-delete{
    @include btn-color($btn-delete-background, $btn-delete-color);
    @include btn-size($btn-delete-padding-x,$btn-delete-padding-y,1rem,1.5,$btn-delete-border-radius);
    .delete-icon{
      font-size: $btn-delete-icon-size;
    }
  }
  .addProject-btn{
    @include btn-color($btn-project-add-background, $btn-project-add-color);
  }
}

//TAG controls
.tags{
  .btn-tag-add{
    @include btn-color($btn-tag-add-background, $btn-tag-add-color);
    @include btn-size($btn-tag-add-padding-x,$btn-tag-add-padding-y,1rem,1.5,$btn-tag-add-border-radius);
    .add-tag-icon{
      font-size: $btn-tag-add-icon-size;
    }
  }
  .btn-tag-delete{
    @include btn-color($btn-delete-background, $btn-delete-color);
    @include btn-size($btn-tag-delete-padding-x,$btn-tag-delete-padding-y,1rem,1.5,$btn-delete-border-radius);
    .delete-icon{
      font-size: $btn-tag-delete-icon-size;
    }
  }
  .addTag-btn{
    @include btn-color($btn-tag-add-background, $btn-tag-add-color);
  }
}