//Todo Left controls
$complete-color:black;
$btn-complete-background:transparent;
$complete-hover-color:white;
$btn-complete-hover-background:#4CAF50;

//Todo Right controls
$todo-right-controls-color:white;
$btn-priority-background:#e67e22;
$btn-schedule-background:#f1c40f;
$btn-delete-background:#e74c3c;



@mixin btn-color(
  $background,$color, 
  $hover-background: darken($background, 7.5%), 
  $hover-border: darken($background, 10%), 
  $active-background: darken($background, 10%), 
  $active-border: darken($background, 12.5%) ){
    
  background: $background;
  color:$color;
  border-color: $background;
  &:hover {
      color: $color;
      background-color: $hover-background;
      border-color: $hover-border;
  }
  &:not(:disabled):not(.disabled):active {
      color: $color;
      background-color: $active-background;
      border-color: $active-border;
  }
  &:focus {
      box-shadow: 0 0 0 3px rgba($hover-border, .25);
      background-color: $hover-background;
      border-color: $hover-border;
  }
  &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus{
      box-shadow: 0 0 0 3px rgba($active-border, .5);
  }
}

@mixin btn-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
//Home page
.home{
  .navbar .btn{
    margin: 0.4rem 0.6rem;
    @include mq(md){
      margin:1rem 0.8rem;
    }
  }
  .button-success{
    background: #e74c3c;
  }
  
  .btn-navbar{
    @include btn-size(0.6rem, 1.5rem, 1.2rem, 1.5, .25rem);
  }
  .btn-form{
    @include btn-size(0.8rem, 2.5rem, 1.2rem, 1.5, .25rem)
  }
  .btn-signup{
    @include btn-color(#e74c3c,white);
  }
  .btn-login{
    @include btn-color(#4CAF50,white);
  }
}

//Todo Left controls
.todo-left{
  .btn{
    @include d-flex(row,center,center);
  }
  .btn-complete{
    @include btn-size(0rem,0rem,1rem,1.5,1rem);
    @include btn-color($btn-complete-background, $complete-color);    
    &:hover{
      @include btn-color($btn-complete-hover-background, $complete-hover-color);
    }
  }
}

//Todo Right controls
  .todo-controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    
    .btn{
      @include d-flex(row,center,center);
      @include btn-size(0.2rem,0.2rem,1rem,1.5,.25rem);
      margin: 0 0.3rem;
    }
    
    .btn-task-priority{
      @include btn-color($btn-priority-background, $todo-right-controls-color);
      
      &:after{
        display: none;
      }
    }
    .btn-task-schedule {
      @include btn-color($btn-schedule-background, $todo-right-controls-color)
    }
    .btn-task-delete {
      @include btn-color($btn-delete-background, $todo-right-controls-color)
    }
    
  }