ul{
  list-style-type: none;
}
.todo-list{
  align-content: flex-end;
  .todo-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    min-height: 3rem;
  }
  .todo-left,.todo-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    white-space: nowrap;
  }
  
}