$header-bg-img:url("/img/background_002.jpg") no-repeat center center fixed;
$header-bg-overlay:rgba(27, 27, 27, 0.9);
$header-text-size: 1.3em;
$thirds-bg-img: url("/img/background_001.jpg") no-repeat center center fixed;


#top-section{
  background: $header-bg-img;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  p{
    font-size: $header-text-size;
    text-align: center;
  }
}

.overlay-background {
  background: $header-bg-overlay; 
}

#section-icons{
  @include mq(down-lg){
    max-width: 100%;
  }
  .row{
    height: 100%;
    @include mq(md){
      height: 300px;
    }
    @include mq(lg){
      height: 33vh;
    }
  }
  .section-item{
    padding: 1em 1rem;
    @include mq(lg){
      padding: 0 3rem;
    }
    @include mq(md){
      padding: 0 2rem;
    }
    @include mq(sm){
      padding: 2rem 2rem;
    }
    p{
      font-size: 1rem;
      @include mq(sm){
        font-size: 1.2em;
      }
    }
  }
}
#section-icons .row div:nth-child(odd)  {
  background: white;
  p{
    text-align: justify;
  }
}
#section-icons .row div:nth-child(even)  {
  background: #e74c3c;
  color:white;
  
  .material-icons.md-dark {
    color:white !important; 
  }
  p{
    text-align: justify;
  }
}

hr.row-gap{
  margin-top: 5rem;
  margin-bottom: 10rem;
  border: 0;
  border-top: 0px solid rgba(0,0,0,.1);
}

.quote-section {
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
  img.img-portrait{
    max-height: 300px;
    @include mq(down-sm){
    max-height: 190px; 
  }
  }
}
.quote-section:nth-child(3){
  height:100%;
  div.row{
    @include mq(sm){
      min-height: 180px; 
    }
  }
  @include mq(md){
    height: 38vh;
    min-height: 200px; 
  }
}
.quote-section:nth-child(2){
  background-color: #E74C3C;
  height:12vh;
  min-height: 110px;
  @include mq(sm){
    min-height: 110px; 
  }
  @include mq(md){
    height: 15vh;
    min-height: 130px; 
  }
}
.quote-section:nth-child(1){
  height:100%;
  @include mq(sm){
    min-height: 200px; 
  }
  @include mq(md){
    height: 38vh;
    min-height: 300px; 
  }
}
.button-box{
  max-height: 50px;
}
.github-wrapper{
  margin-top: 3rem;
}
.login-box{
  display: flex;
  justify-content: center;
}
.quote-overlay{
  background: $thirds-bg-img;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


