//Navbar on top
$navbar-home-bg: transparent;
$navbar-home-animation: background 0.3s linear;

//Scrolling Nav
$nav-home-change-bg: rgba(255,255,255,1);
$nav-home-change-color: black;
$nav-home-change-icons: rgba(0, 0, 0, 0.76);

//Brand
$brand-home-color:white;
$brand-home-xm-size:1.8rem;
$brand-home-sm-size:2.2rem;
$brand-home-lg-size:2.5rem;

@mixin transition($animation) {
  -webkit-transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  -ms-transition: $animation;
  transition: $animation;
}

.home .navbar{
  @include transition($navbar-home-animation);
  
  .navbar-brand{
    color:$brand-home-color;
    font-size:$brand-home-xm-size;
    font-weight:$bold;
    @include mq(sm){
      font-size: $brand-home-sm-size;
    }
    @include mq(lg){
      font-size: $brand-home-lg-size;
      margin-left: 0.5rem;
    }
  }
}
.home .navbar-change{
  background:$nav-home-change-bg;
  color: $nav-home-change-color;
  .navbar-brand{
    color: $nav-home-change-color;
  }
  .hamburger-icon{
    color: $nav-home-change-icons;
  }
}


.app-navbar{
  background: #e74c3c;
  .nav-container{
    @include d-flex(row,space-between,center);
  }
  
  .navbar-brand{
    color:white;
    font-size:1.8rem;
    font-weight:$bold;
  }
  
}