//Navbar on top
$navbar-home-bg: transparent;
$navbar-home-animation: background 0.3s linear;

//Scrolling Nav
$nav-home-change-bg: white;
$nav-home-change-color: black;
$nav-home-change-icons: rgba(0, 0, 0, 0.76);

//Brand
$brand-home-color:white;
$brand-home-size:2.2em;;

@mixin transition($animation) {
  -webkit-transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  -ms-transition: $animation;
  transition: $animation;
}

.home .navbar{
  @include transition($navbar-home-animation);
  
  .navbar-brand{
    color:$brand-home-color;
    font-size:$brand-home-size;
    font-weight:$bold;
  }
}
.home .navbar-change{
  background:$nav-home-change-bg;
  color: $nav-home-change-color;
  .navbar-brand, .hamburger-icon{
    color: $nav-home-change-icons;
  }
}