
$droppable-over-background:#ecf0f1 !important;


.sidebar{
  padding: 0 2rem;
}

.list-group-item{
  padding: 0.75rem .9rem;
}

.project-title-box,.tag-title-box{
  margin: 1rem 1rem 0.5rem 0.5rem
}
.top-filter-item, .project-item, .tag-item{
  &:hover{
    cursor: pointer;
  }
}

.projects{
  .project-title-box{
    @include d-flex(row,space-between,center);
  }
}
.tags{
  .tag-title-box{
    @include d-flex(row,space-between,center);
  }
}
ul.top-filter-list{
  li.top-filter-item{
    @include d-flex(row,flex-start,center);
  }
}
ul.project-list{ 
  li.project-item{
    @include d-flex(row,space-between,center);
    .project-left-wrapper{
      @include d-flex(row,flex-start,center);
    }
    .draggable-action{
      padding: 0 0rem 0 0;
      .drag-icon{
        font-size:1.5rem;
        padding: 0.5rem 0rem;
      }
    }
  }
}

//Tag styles
ul.tag-list{
  
  li.tag-item{
    @include d-flex(row,space-between,center);
    
    .tags-left-wrapper{
      @include d-flex(row,center,center);
    }
    .label-icon{
      color:#636e72;
    }
  }
}

.shadow{
    background: $droppable-over-background;
}
.label-icon, .inbox-icon{
  font-size: 1.5rem;
  margin: 0 .5rem 0rem 0;
}