.content{
  margin-top: 1rem;
}

.todo-title-wrapper{
  @include d-flex(row,space-between,center);
  .top-right-controls{
    @include d-flex(row,flex-end,center);
  }
}


.todo-list{
  align-content: flex-end;
  .todo-item{
    @include d-flex(row,space-between,center);
    min-height: 3rem;
    &:last-child{
      border-bottom: rgba(224,224,224,1.00) solid .05rem;
    }
  }
  .todo-left-wrapper{
    @include d-flex(row,flex-start,center);
    flex-wrap: nowrap;
    max-width: 470px;
    position: relative;
    white-space: normal;
  }
  .todo-left,.todo-task,.todo-right{
    @include d-flex(row,flex-start,center);
    height: 100%;
  }
}
.todo-left{
  .draggable-action{
    padding: 0 0rem 0 0;
  }
  .complete-action{
    padding: 0 0.25rem 0 0.5rem;
  }
  .todo-label{
    line-height: 1.5;
  }
}
